<li id="reply-<%= reply.id %>">
<div class="panel panel-default">
  <div class="panel-heading">Posted <%= time_ago_in_words(reply.created_at) %> ago</div>
  <div class="panel-body">
    <div class="col-md-2">
      <p><%= link_to reply.user.username, reply.user %></p>
      <p>Join Date: <%= reply.user.created_at.strftime("%b %d, %Y")%></p>
      <p>Posts: <%= reply.user.replies.count%></p>
    </div>
    <div class="col-md-10">
      <%= reply.content %>
      <p><%= reply.likes.count %> <%= (reply.likes.count) == 1 ? 'Like' : 'Likes'%></p>
    </div>
    <% if current_user %>
      <% pre_like = reply.likes.find { |like| like.user_id == current_user.id} %>
      <% if pre_like  %>
        <%= button_to 'Unlike', reply_like_path(reply, pre_like), method: :delete %>
      <% else %>
        <%= button_to 'Like', reply_likes_path(reply), method: :post %>
      <% end %>
    <% end %>
  </div>
</div>
</li>