<% provide(:title, @conversation.content) %>

<h4><%= @conversation.content %></h4>

<% if @conversation.replies.any? %>
  <ol>
    <%= render @replies %>
  </ol>
  <% will_paginate @replies %>
<% end %>

<div>

  <%= form_for(@reply) do |f| %>
    <label><%= f.label :content, "Reply"%></label>
    <div><%= f.text_area :content, class: "reply-text" %></div>
    <%= f.hidden_field :conversation_id, value: params[:id] %>
    <%= f.submit "Reply" %>
  <% end %>
</div>

