<% provide(:title, "Edit Profile")%>



 <%= render 'shared/errors' %>

 <div class="jumbotron center half-wide">
  <h3 class="bottom-space">Edit your profile</h3>
  <%= form_for(@user) do |f|%>

    <div class="login-row bottom-space">
      <div class="col-md-6">
        <label><%= f.label :avatar, "Upload Profile Picture" %></label>
        <div><%= f.file_field :avatar %></div>
      </div>
      <div class="col-md-6">
        <label><%= f.label :email, "Email Address: " %></label>
        <div><%= f.email_field :email, class: "input-length" %></div>
      </div>
    </div>

    <div class="login-row bottom-space">
      <div class="col-md-6">
        <label><%= f.label :equipment, "Equipment: " %></label>
        <div><%= f.text_area :equipment, class: "input-box" %></div>
      </div>
      <div class="col-md-6">
        <label><%= f.label :favorite_coffee, "Your Favorite Coffee: " %></label>
        <div><%= f.text_area :favorite_coffee, class: "input-box" %></div>
      </div>
    </div>

    <div class="login-row bottom-space">
      <div class="col-md-6">
        <label><%= f.label :password, "Password: " %></label>
        <div><%= f.password_field :password, class: "input-length"  %></div>
        <small> Minimum of 6 characters </small>
      </div>
      <div class="col-md-6">
        <label><%= f.label :password_confirmation, "Confirm Password: " %></label>
        <div><%= f.password_field :password_confirmation, class: "input-length"  %></div>
      </div>
    </div>

    <div class="bottom-space">
        <label><%= f.label :location, "Where you're from: " %></label>
        <div><%= f.text_field :location, class: "input-length"  %></div>
    </div>

    <div><%= f.submit "Update"%></div>
  </div>
  <% end %>


