<% provide(:title, "Edit Profile")%>
<h1>Edit your profile</h1>


 <%= render 'shared/errors' %>
  <%= form_for(@user) do |f|%>

    <%= f.label :username, "Username: " %>
    <small> Length between 2 and 20 characters </small>
    <%= f.text_field :username, class: "one-fourth" %>

    <%= f.label :email, "Email Address: " %>
    <%= f.email_field :email, class: "one-fourth" %>

    <%= f.label :password, "Password: " %>
    <small> Minimum of 6 characters </small>
    <%= f.password_field :password, class: "one-fourth" %>

    <%= f.label :password_confirmation, "Confirm Password: " %>
    <%= f.password_field :password_confirmation, class: "one-fourth" %>

    <%= f.label :equipment, "Equipment: " %>
    <small>Tell us about your coffee stuff!</small>
    <%= f.text_area :equipment, class: "one-fourth" %>

    <%= f.label :favorite_coffee, "Your Favorite Coffee: " %>
    <%= f.text_area :favorite_coffee, class: "one-fourth" %>

    <%= f.label :location, "Where you're from: " %>
    <%= f.text_field :location, class: "one-fourth" %>

    <%= f.submit "Update"%>
  <% end %>


