<% provide(:title, "Sign Up")%>



<div><%= render 'shared/errors' %></div>

<div class="jumbotron center half-wide">
  <h3 class="bottom-space">Sign Up Here! </h3>

  <%= form_for(@user) do |f|%>
  <div class="login-row bottom-space">
    <div class="col-md-6">
      <label><%= f.label :username, "Username: " %></label>
      <div><%= f.text_field :username %></div>
      <small> Length between 2 and 20 characters </small>
    </div>
    <div class="col-md-6">
      <label><%= f.label :email, "Email Address: " %></label>
      <div><%= f.email_field :email %></div>
    </div>
  </div>

  <div class="login-row bottom-space">
    <div class="col-md-6">
      <label><%= f.label :password, "Password: " %></label>
      <div><%= f.password_field :password %></div>
      <small> Minimum of 6 characters </small>
    </div>
    <div class="col-md-6">
      <label><%= f.label :password_confirmation, "Confirm Password: " %></label>
      <div><%= f.password_field :password_confirmation %></div>
    </div>
  </div>

  <div class="login-row bottom-space">
    <div class="col-md-6">
      <label><%= f.label :avatar, "Upload a profile photo"%>
      <%= f.file_field :avatar %>
    </div>
    <div class="col-md-6">
      <label><%= f.label :location, "Where you're from: " %></label>
      <div class="bottom-space"><%= f.text_field :location %></div>
    </div>
  </div>

  <div class="login-row bottom-space">
    <div class="col-md-6">
      <label><%= f.label :equipment, "Equipment: " %></label>
      <div><%= f.text_area :equipment %></div>
      <small>Tell us about your coffee stuff!</small>
    </div>
    <div class="col-md-6">
      <label><%= f.label :favorite_coffee, "Your Favorite Coffee: " %></label>
      <div><%= f.text_area :favorite_coffee %></div>
    </div>
  </div>

  <button><%= f.submit "Submit", class: "btn" %></button>
</div>
<% end %>





