<%= provide(:title, "My Profile")%>
<div class="col-md-4">
  <% if (@user.avatar.attached?) %>
    <%= image_tag @user.avatar, class: "profile-pic" %>
  <% else %>
    <p>no picture</p>
  <% end %>
  <h2><%= @user.username %></h2>
  <p>Location: <%= @user.location%></p>
  <p>Join Date: <%= @user.created_at.strftime("%b %d, %Y")%>
  <hr/>
  <h4>About</h4>
  <p>Favorite Coffee: <%= @user.favorite_coffee%></p>
  <p>Accessories: <%= @user.equipment%></p>
  <hr/>

  <% if current_user?(@user)%>
    <div>
    <button><%= link_to "Edit your profile", edit_user_path %></button>
    <button> <%= link_to "Log Out", logout_path, method: "delete" %> </button>
    </div>
  <% end %>
</div>

<div class="col-md-8">
  <h4>Latest Activity: </h4>
  <% @activities.each do |activity| %>
    <div class="panel panel-default half-wide">
      <div class="panel-body">
        <%= render_activity activity %>
      </div>
    </div>
  <% end %>
</div>