<%= provide(:title, "My Profile")%>

<h2><%= @user.username %></h2>
<h3><%= @user.location%></h3>
<h4>About</h4>
<p>Favorite Coffee: <%= @user.favorite_coffee%></p>
<p>Your stuff: <%= @user.equipment%></p>
<p>Threads <%= @user.username %> started: </p>

<% @user.conversations.each do |c| %>
  <%= link_to c.content, c %>
<% end %>

<% if current_user?(@user)%>
  <p><%= link_to "Edit your profile", edit_user_path %></p>
  <button> <%= link_to "Log Out", logout_path, method: "delete" %> </button>
<% end %>

<h4>Activity: </h4>
<% @activities.each do |activity| %>
  <div><%= render_activity activity %></div>
<% end %>