<header>
    <div class="top-banner">
      <h2><%= link_to "The Nervosa", root_path, class: "page-title" %></h2>
      <small class="page-title">A Place to Talk About Coffee</small>
    </div>
    <nav>
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_path%></li>
        <li><%= link_to "Forum", conversations_path%></li>
        <li><%= link_to "Resources", resources_path %></li>
        <li><%= link_to "Search", "#"%></li>
        <li><%= link_to "About", about_path %></li>
      </ul>

      <ul class="nav navbar-nav right">
        <% if logged_in? %>
          <li><%= link_to "Profile", @current_user %></li>
          <li><%= link_to "Our Members", users_path %></li>
        <% else %>
          <li><%= link_to "Log In", login_path %></li>
          <li><%= link_to "Sign up", signup_path %></li>
        <% end %>
      </ul>
    </nav>
</header>